@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5fcff !important;
  font-family: 'Odibee Sans', cursive;
}

code {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
